<%- include('partials/header') %>
    <h1>Our Products</h1>
    <%  products.forEach(function(product){ %>
    <section class="member">
        
        <div class="wrapper">
        
        <div class="team">
        <div class="team_member">
            <div class="team_img">
                <img src=<%= product.img_url %> alt="Team_image">
            </div>
            
            <p class="role"><%= product.product_name %></p>
            <p>Price: <%= product.product_price %> </p>
           
            
            <a href="/products/<%=product._id%>"><button class="btn btn-primary">Add to cart</button></a>

          
        </form>
        </div>
        <% }) %>


        <%- include('partials/footer') %>
       